<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <link rel="stylesheet" media="screen" href="../css/about.css">
  <title>Aurore Budzik</title>
</head>
<body>
<div id="mySidenav" class="sidenav">
  <a id="closeBtn" href="#" class="close">×</a>
  <ul>
    <li><a href="../index.html">Accueil</a></li>
    <li><a href="#connaissances">Mes Connaissances</a></li>
    <li><a href="#portfolio">Portfolio</a></li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
</div>

<a href="#" id="openBtn">
  <span class="burger-icon">
    <span></span>
    <span></span>
    <span></span>
  </span>
</a>
<div class="cv">
  <a href="../img/CV_AuroreBudzik.jpg" download="CV AURORE BUDZIK"><strong>Télécharger mon CV</strong></a>
</div>

<div class="text">
  <p>
    Bonjour,
  </p>
  <p>
    Je suis une développeuse web junior passionnée et motivée, qui a décidé
    de changer de carrière après une expérience de
    plusieurs années dans la restauration. J'ai suivi une formation
    auprès de l'école informatique ENI afin de me spécialiser dans
    le développement web et acquérir les compétences nécessaires
    pour réussir dans ce domaine en constante évolution.
    <p>
  <p>
    Au cours de ma formation, j'ai appris les langages de
    programmation tels que HTML, CSS, PHP et JavaScript, ainsi que
    les frameworks populaires comme Symfony et Angular. J'ai
    également acquis de solides compétences en gestion de projet et
    en travail d'équipe, grâce aux projets en groupe et au stage en
    entreprise que j'ai effectués.
</p>
  <p>
    Aujourd'hui, je suis à la recherche d'opportunités pour mettre mes compétences en pratique
    et contribuer à des projets passionnants.<br />
    Je suis convaincue que mon parcours atypique et mon expérience
    dans la restauration me donnent un avantage unique en termes de créativité et de résolution de
    problèmes. Je suis impatiente de mettre mes services de votre
    entreprise et de contribuer à son succès.
  </p>
</div>

  <h1 id="connaissances">MES CONNAISSANCES</h1>
  <div class="skill">
    <ul id="skill">
      <li><span class="bar html"></span><h3>HTML</h3></li>
      <li><span class="bar css"></span><h3>CSS</h3></li>
      <li><span class="bar javascript"></span><h3>JAVASCRIPT</h3></li>
      <li><span class="bar php"></span><h3>PHP</h3></li>
      <li><span class="bar sql"></span><h3>SQL</h3></li>
    </ul>
    <ul id="skill-2">
      <li><span class="bar-2 java"></span><h3>JAVA</h3></li>
      <li><span class="bar-2 codeigniter"></span><h3>CODEIGNITER</h3></li>
      <li><span class="bar-2 angular"></span><h3>ANGULAR</h3></li>
      <li><span class="bar-2 symfony"></span><h3>SYMFONY</h3></li>
      <li><span class="bar-2 vue"></span><h3>VUE.JS</h3></li>
    </ul>
  </div>


  <h1 id="portfolio">MES PROJETS</h1>
  <div class="img-1">
    <div class="image-container-1">
      <img class="ab" src="../img/AB_portfolio.jpg" alt="screenshot portfolio">
      <div class="overlay">
        <p><a class="github" href="https://github.com/abdzk/portfolio_AB">Mon portfolio</br>GITHUB</a><br>
        HTML-CSS-JAVASCRIPT</p>
      </div>
    </div>
    <div class="image-container-2">
      <img class="interhop" src="../img/interhop.jpg" alt="screenshot interhop association version test">
      <div class="overlay">
        <p>
          <a class="link" href="https://easyappointments-test.interhop.org/">Stage à l'association INTERHOP<br>
            Version test</a><br>
          Application OpenSource : EASYAPPOINTMENT <br>
        CODEIGNITER-PHP-JAVASCRIPT-JQUERY-BOOSTRAP</p>
      </div>
    </div>
  </div>
  <div class="img-2">
    <div class="image-container-3">
      <img class="abc" src="../img/ABC.jpg" alt="screenshot de l'application ABCDaire">
      <div class="overlay">
        <p><a class="github" href="https://github.com/abdzk/ABCDaire">Projet personnel : ABCDaire</br>GITHUB</a><br>
          SYMFONY-PHP-BOOSTRAP</p>
      </div>
    </div>
    <div class="image-container-4">
      <img class="kj" src="../img/kj.jpg" alt="screenshot site Jurion Kevin Avocat">
      <div class="overlay">
        <p><a class="link" href="#">Projet professionnel <br>
          KEVIN JURION</a><br>
          HTML-CSS-JAVASCRIPT</p>
      </div>
    </div>
  </div>
  <div class="img-3">
    <div class="image-container-5">
      <img class="series" src="../img/Series.jpg" alt="screenshot application de classement de séries">
      <div class="overlay">
        <p><a class="github" href="https://github.com/abdzk/series-symfony">Projet formation : Séries</br>GITHUB</a><br>
          PHP-SYMFONY</p>
      </div>
    </div>
    <div class="image-container-6">
      <img class="snapfaces" src="../img/snapfaces.jpeg" alt="screenshot application snapface">
      <div class="overlay">
        <p><a class="github" href="https://github.com/abdzk/facesnap">Projet formation : Snapfaces</br>GITHUB</a><br>
          TYPESCRIPT-ANGULAR</p>
      </div>
    </div>
  </div>
  <div class="img-4">
    <div class="image-container-7">
      <img class="encheres" src="../img/enchere.jpeg" alt="screenshot application ENI Echères">
      <div class="overlay">
        <p><a class="github" href="https://github.com/bbvv3/ProjetENI1">Projet formation : ENI-Enchères</br>GITHUB</a><br>
          TOMCAT-JavaEE-SQL Server</p>
      </div>
    </div>
    <div class="image-container-8">
      <img class="sortie" src="../img/sortie.jpg" alt="screenshot application sortie ENI">
      <div class="overlay">
        <p><a class="github" href="https://github.com/abdzk/sortie_eni.git">Projet formation : ENI-Enchères</br>GITHUB</a><br>
          PHP-SYMFONY</p>
      </div>
    </div>
  </div>
<script src="../js/about.js" defer></script>
<footer>&copy;2024 Aurore Budzik</footer>
</div>
</body>
</html>